<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}">Cégünkről</a></li>
            <li><a href="{{ site.baseurl }}/kapcsolat">Kapcsolat</a></li>
           
            <li><a href="{{ site.baseurl }}/hirek">Hírek</a></li>
            
          </ul>
        </div>
        <style>#some-element {

  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div:hover #some-element {
  display: block;
}
        </style>
        <div id="some-div">
  <p>*</p>
  
  <span id="some-element">
    Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.
  </span>
</div>
        
        <p></p>
      </div>
    </div>
  </div>
</footer>
