<!-- Service Start -->
<section id="service">
  <div class="container">
  {%if page.layout == 'default' %}
      <div class="row">
      <div class="section-title">
        <h2>Szolgáltatásaink</h2>
        <p>Fontosnak tartjuk hogy olyan naprakész szolgáltatásokat nyújtsunk partnereinkek amik segítenek a vállalkozások versenyképességének növelésében. </p>
      </div>
    </div>
    {% endif %}
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="{{ site.baseurl }}/palyazatiras"><i class="icon ion-edit"></i></a>
          <h4>Pályázatírás</h4>
          <p>Pályázati anyagok összeállítása hazai és EU kiírásokhoz </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
         <a href="{{ site.baseurl }}/konyveles"><i class="ion-call"></i></a>
          <h4>Call Center</h4>
          <p>Közvéleménykutatás, ügyfél elégedettségmérés, értékesítés ügyfélszolgálati hívások alapján,telesales, direkt és indirekt érékesítés, időpont egyeztetés értékesítéshez,adatbázis építés és frissítés, adatbázis tisztítás
</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="{{ site.baseurl }}/konyveles"><i class="ion-cash"></i></a>
          <h4>Pénzügyi tanácsadás</h4>
          <p>Pénzügyileg megalapozottabb üzleti döntések előkészítése  </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="{{ site.baseurl }}/berszamfejtes"><i class="ion-person-stalker"></i></a>
          <h4>Bérszámfejtés</h4>
          <p>Dolgozói létszámtól független minőségi bérszámfejtés </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="{{ site.baseurl }}/uzleti-tervezes"><i class="ion-podium"></i></a>
          <h4>Üzleti tervezés</h4>
          <p>Naprakész piaci információk összegzése üzleti tervekhez  </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="{{ site.baseurl }}/hiteltanacsadas"><i class="ion-card"></i></a>
          <h4>Hiteltanácsadás</h4>
          <p>Hazai és Európai hitelek kiajánlása és dokumentáció készítés </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="{{ site.baseurl }}/projektmenedzsment"><i class="ion-social-buffer"></i></a>
          <h4>Projektmenedzsment</h4>
          <p>Rendszeres beszámolók és jelentések szabályszerű elkészítése </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="{{ site.baseurl }}/egyeb-vallalkozasfejlesztes"><i class="ion-map"></i></a>
          <h4>Egyéb vállalati tanácsadás</h4>
          <p>Vállalatfejlesztés a piaci kihívásokra való felkészüléshez </p>
        </div>
      </div>
    </div>
  </div>
</section>
